<div class="card" style="width: 18rem;">
	<div class="card-header text-center">
		{{ job_offer.title }}
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">{{ job_offer.company ?? "N/A" }}</li>
		<li class="list-group-item">{{ job_offer.location ?? "N/A" }}</li>
		<li class="list-group-item">{{ job_offer.salary ?? "N/A" }}</li>
		<li class="list-group-item">
			{# <a href="{{ path('app_kanban_edit', {'id': job_offer.id}) }}">
				<button type="button" class="btn btn-primary">Changer le statut</button>
			</a> #}
			<a href="{{ path('app_job_offer_edit', {'id': job_offer.id}) }}">
				<button type="button" class="btn btn-primary">Changer le statut</button>
			</a>
		</li>


	</ul>

</div>
