<nav class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary shadow" style="width: 280px;">
	<div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
			<img src="{{ app.user.image ?? './Images/website/default.png' }}" alt="Image de profil" width="32" height="32" class="rounded-circle me-2">
			<strong>{% if app.user.firstName is defined %}{{ app.user.firstName }}{% else %} user {% endif %}{% if app.user.lastName is defined %} {{ app.user.lastName|upper }} {% else %}*** {% endif %}</strong>
	</div>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto h-100">
		<li class="nav-item">
			<a href="{{ path('app_dashboard') }}" class="nav-link link-body-emphasis {{ app.request.attributes.get('_route') == 'app_dashboard' ? 'active text-light bold' : '' }}" aria-current="page">
				<i class="bi bi-speedometer2"></i> Dashboard
			</a>
		</li>
		<li>
			<a href="{{ path('app_kanban') }}" class="nav-link link-body-emphasis {{ app.request.attributes.get('_route') == 'app_kanban' ? 'active text-light bold' : '' }}">
				<i class="bi bi-calendar-week"></i> Kanban
			</a>
		</li>
		<li>
			<a href="{{ path('app_job_offer_index') }}" class="nav-link link-body-emphasis {{ app.request.attributes.get('_route') == 'app_job_offer_index' ? 'active text-light bold' : '' }}">
				<i class="bi bi-building"></i> Candidatures
			</a>
		</li>
		
		<li>
			<a href="{{ path('app_job_offer_index') }}" class="nav-link link-body-emphasis">
				<i class="bi bi-envelope-paper"></i> Lettres de motivation
			</a>
		</li>
		<li>
			<a href="{{ path('app_linked_in_message_index') }}" class="nav-link link-body-emphasis">
				<i class="bi bi-linkedin"></i> Messages Linkedin
			</a>
		</li>
		<li>
			<a href="#" class="nav-link link-body-emphasis">
				<i class="bi bi-person"></i> Profil
			</a>
		</li>
	</ul>	
</nav>
