{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre d'emploi
{% endblock %}

{% block body %}
	<main class="d-flex no-wrap">
		{{ include('./components/partials/sidebar.html.twig') }}
		<div class="container">
			<h1 class="text-center mt-4 deco">Nouvelle offre d'emploi</h1>
			<h2 class="link-menu text-center mb-4">
				<a href="{{ path('app_dashboard') }}" class="unstyle">Dashboard</a>
				>
				<a href="{{ path('app_job_offer_index') }}" class="unstyle">Candidatures</a>
				>
				<span>Nouvelle offre</span>
			</h2>
			<div class="d-flex justify-content-center flex-wrap">
				<div class="col-xxl-8 px-4 py-5 border border-1 rounded shadow p-3 mb-5 bg-body-tertiary">
					{{ include('job_offer/_form.html.twig') }}
					<div class="d-flex justify-content-center">
						<a href="{{ path('app_job_offer_index') }}">
							<button type="button" class="btn btn-light border border-1">Annuler</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
