{% extends 'base.html.twig' %}

{% block title %}CoverLetter index{% endblock %}

{% block body %}
    <h1>CoverLetter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cover_letter in cover_letters %}
            <tr>
                <td>{{ cover_letter.id }}</td>
                <td>{{ cover_letter.content }}</td>
                <td>{{ cover_letter.createdAt ? cover_letter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cover_letter.updatedAt ? cover_letter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_cover_letter_show', {'id': cover_letter.id}) }}">show</a>
                    <a href="{{ path('app_cover_letter_edit', {'id': cover_letter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cover_letter_new') }}">Create new</a>
{% endblock %}
