{% extends 'base.html.twig' %}

{% block title %}ProfilAuTop: Connexion {% endblock %}


{% block body %}
<div class="container col-xxl-8 px-4 py-5 border border-1 rounded shadow p-3 mb-5 bg-body-tertiary">
	<h1 class="text-center display-5 fw-bold text-body-emphasis lh-1 mb-4">Se connecter</h1>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 col-10 col-lg-6">
                Vous êtes déjà connecté
                {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row flex-column align-items-center">
            <div class="mb-3 col-10 col-lg-6">
                <label class="form-label" for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="mb-3 col-10 col-lg-6">
                <label class="form-label" for="password">Password</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary m-4 w-auto"  type="submit">
                Me connecter
            </button>
            
            <a href="{{ path('app_register') }}" class="ink-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                <p class="text-center m-2">Pas encore client ?
                    <span class="text-primary">M'inscrire</span>
                </p>
            </a>
        </div>
    </form>
</div>
{% endblock %}
