{% extends 'base.html.twig' %}

{% block title %}Hello KanbanController!
{% endblock %}

{% block body %}
	<main class="container">

		<h1 class="mb-4">Fiche de suivi de candidatures</h1>


		<table class="table">

			<thead>
				<tr>
					<th>A postuler</th>
					<th>En attente</th>
					<th>Entretien</th>
					<th>Refusé</th>
					<th>Accepté</th>
				</tr>
			</thead>
			<tbody>

				{% for job_offer in job_offers %}
					<tr>
						<td class="w-20">
							{% if job_offer.status is defined and job_offer.status == constant('App\\Enum\\JobStatus::A_POSTULER') %}
								{{ include('components/partials/cardsKanban.html.twig') }}
							{% endif %}
						</td>
						<td class="w-20">
							{% if job_offer.status is defined and job_offer.status == constant('App\\Enum\\JobStatus::EN_ATTENTE') %}
								{{ include('components/partials/cardsKanban.html.twig') }}
							{% endif %}
						</td>
						<td class="w-20">
							{% if job_offer.status is defined and job_offer.status == constant('App\\Enum\\JobStatus::ENTREVUE') %}
								{{ include('components/partials/cardsKanban.html.twig') }}
							{% endif %}
						</td>
						<td class="w-20">
							{% if job_offer.status is defined and job_offer.status == constant('App\\Enum\\JobStatus::REFUSE') %}
								{{ include('components/partials/cardsKanban.html.twig') }}
							{% endif %}
						</td>
						<td class="w-20">
							{% if job_offer.status is defined and job_offer.status == constant('App\\Enum\\JobStatus::ACCEPTE') %}
								{{ include('components/partials/cardsKanban.html.twig') }}
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">Aucune offre d'emploi enregistrée.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>

{% endblock %}
