{% extends 'base.html.twig' %}

{% block title %}LinkedInMessage{% endblock %}

{% block body %}
    <h1>LinkedInMessage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ linked_in_message.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ linked_in_message.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ linked_in_message.createdAt ? linked_in_message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ linked_in_message.updatedAt ? linked_in_message.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_linked_in_message_index') }}">back to list</a>

    <a href="{{ path('app_linked_in_message_edit', {'id': linked_in_message.id}) }}">edit</a>

    {{ include('linked_in_message/_delete_form.html.twig') }}
{% endblock %}
